{% extends "base.html" %}

{% block title %} Landing page{% endblock title %}

{% block content %}
    {% if name == "Pablo" %}
         <h1>¡Hola, profe!</h1>
         <h2>¡Hola, {{ name | title }}!</h2>
    {% elif name == "Fernando" %}
        <h1>¡Hola, FernanGod! </h1>
    {% endif %}
        
    <h1>Hola a todos, desde este template</h1>
    <h2>Nombre: {{ name | upper }}</h2>
    <p>Edad: {{ age }}</p>
    <p>Fecha: {{ today | date:"d/m/Y"}} </p>

    <p>Stack de tecnologías:</p>
    <ul> 
        {% for tool in stack %}
            <li><a href="{% url 'stack' tool.id %}">{{ tool.name }}</a></li>
        
            {% empty %}
        <li>no hay tecnologías disponibles</li>

        {% endfor %}   
    </ul>
{% endblock content %}

